.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frase{
    font-style: italic;
    color:#dd7b22;
    text-align: center;
    font-size: 23px;
}

h1{
    font-weight: 900;
    color: #dd7b22;
}